body{
    background-color: aliceblue;
    text-align: center;
    color: white;
    margin: 0;
}
.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 800px;

}
.box
{
    height: 100px;
    width: 100px;
    flex-grow: 1;
    
}
.red
{
    background-color: red;
    order: 6;
    flex-grow: 2;

}
.black
{
    background-color: black;
    order: 4;
    flex-grow: 4;
}
.blue
{
    background-color: blue;
    order: 7;
    flex-grow: 2;
}
.green
{
    background-color: green;
    order: 5;

}
.orange
{
    background-color: orange;
    order: 3;
}
.cyan
{
    background-color: cyan;
    order: 2;
}
.magenta
{
    background-color: magenta;
    order: 1;
}
.voilet
{
    background-color: violet;
    order: 2;
}