body
{
    background-color: darkgrey;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-size: large;

}

div{
    width: 100px;
    height:100px;
    border: 2px solid black;
    display: inline-block;
}
.red
{
    background-color: red;
}
.black
{
    background-color: black;
}
.blue
{
    background-color: blue;
}
.green
{
    background-color: green;
    
}
.orange
{
    background-color: orange;
}
.cyan
{
    background-color: cyan;
}
.magenta
{
    background-color: magenta;
}
.voilet
{
    background-color: violet;
}
@media screen and (min-width:700px) and (max-width:999px){
    body{
        background-color: burlywood;
    }
}
@media(max-width: 500px){
    div 
    {
        display: block;
    }
}
@media(min-width:320px) and (max-width:480px)
{
    .red
    {
        background-color: blue;
    }
}
@media(min-width:481px) and (max-width:768px)
{
    .red
    {
        background-color: orange;
    }
}
@media(min-width:769px) and (max-width:1024px)
{
    .red
    {
        background-color: yellow;
    }
}
@media(min-width:1025px) and (max-width:1200px)
{
    .red
    {
        background-color: brown;
    }
}
@media(min-width:1201px)
{
    .red
    {
        background-color: red;
    }
}
@media(orientation:portrait)
{
    body 
    {
        background-color: aquamarine;
    }
}




